@media (max-width: 1200px) {
    .container {
        max-width: 960px;
        
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
        
    }
}

@media (max-width: 768px) {
    .container {
        // padding-top: 180px;
        max-width: 540px;
        
        
    }
    .title {
        
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            
            line-height: 39px;
            width: 300px;
        }
        &__subtitle {
            &::before{
                top: 193px;
            }
            padding-top: 200px;    
        }
        &__btns {
            margin-top: 0;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 20px;
        
    }
}